/* form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: none;
  background-color: none;
  outline: none;
  border: none;
}
button {
  width: 40%;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;

  border: none;
}
.btn__div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn__submit {
  background-color: rgb(176, 48, 48);
}
.btn__reset {
  background-color: rgb(48, 97, 176);
}
p {
  flex-grow: 1;
} */
